@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: black;
  align-items: center;
}

.img-footer{
  width: 100%;
  object-fit: cover;
}


.list-group {
  gap: 15px;
  display: flex;
  margin-bottom: 10px;
}

